.estimator-container {
  background-color: #e0e0e0;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 10px; /* Space between grid items */
  width: 100%; /* Ensure the grid container takes full width */
}

.t-input {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1rem;
}


.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
}

